.profile-content .m-card{
    border-radius: .375rem;
    background-color: #fff;
    box-shadow: 0 1px 0.5rem 0.125rem rgba(0,0,0,.05);
    margin-bottom: 30px;
    height: calc(100% - 20px);
}

.profile-content .m-card-img-div{
    max-width: 10rem;
    margin-left: auto;
}

.profile-content .m-card-img-div .m-card-img{
    max-width: 100%;
}

.profile-content .btn {
    border-radius: 4rem;
    padding: .25rem;
    display: table;
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.profile-content .btn .btn-text{
    padding-left: 1.5rem;
    display: table-cell;
    vertical-align: middle;
}

.profile-content .btn .btn-icon{
    display: table-cell;
    vertical-align: middle;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 4rem;
    color: #141823;
    background-color: #ffd600;
    border-color: #ffd600;
}

#profile-content .profile-content .btn .btn-icon .arrow-icon{
    width: 100%;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

#profile-content .profile-content .send-req span{
    font-size: 1rem;
    font-weight: 600;
    color: #2962ff!important;
}