.header-nav.transparent {
	 background: transparent !important;
	 transition: all 0.3s ease;
}

.header-nav .navbar-toggler {
	 border-color: #000;
	 transition: all 0.3s ease;
}

.header-nav .nav-link {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-family: 'Lato', sans-serif !important;	 
	 font-size: 16px;
	 font-weight: 600;
	 text-transform: capitalize;
	 transition: all 0.3s ease;
	 letter-spacing: 3px;
	 padding: 10px 20px !important;
	 transition: all 0.3s ease;
}

.header-nav.transparent .nav-link{
	color: white !important;
	transition: all 0.3s ease;
}

.header-nav.brand-name{
	padding: 1.5rem 0;
	transition: all 0.3s ease;
}
 
.header-nav.transparent .nav-link:hover, .header-nav.transparent .nav-link:focus {
	 background-color: rgba(0,0,0,0.3);
	 transition: all 0.3s ease;
}

.header-nav.transparent.sticky {
	 background-color: rgba(255, 255, 255, 0.898) !important;
	 transition: all 0.3s ease;
}

.header-nav.sticky a{
	transition: all 0.3s ease;
	padding-top:0px;
	padding-bottom: 0px;
}

.header-nav.transparent.sticky  .nav-link,.header-nav.transparent.sticky .nav-link #login-button,.header-nav.transparent.sticky .nav-link #register-button{
	color: black !important;
	transition: all 0.3s ease;
}

.header-nav.transparent.sticky  .nav-link:hover,.header-nav.transparent.sticky  .nav-link:focus,.header-nav.transparent.sticky .nav-link #login-button:focus,.header-nav.transparent.sticky .nav-link #login-button:hover,.header-nav.transparent.sticky .nav-link #register-button:focus,.header-nav.transparent.sticky .nav-link #register-button:hover{
	background-color: rgb(82, 125, 255);
	/* border:1px solid  rgb(20, 58, 172); */
	color:rgb(255, 255, 255) !important;
	transition: all 0.3s ease;
}


white navbar

.header-nav.light{
	background: white !important;
	transition: all 0.3s ease-in;
}

.header-nav.light .nav-link{
	color: black !important;
	transition: all 0.3s ease-in;
}

.header-nav.light.sticky {
	 background-color: white !important;
	 transition: all 0.3s ease;
}

.header-nav.light .nav-link:hover, .header-nav.light .nav-link:focus {
	 background-color: rgba(0,0,0,0.6) !important;
	 color: white !important;
	 transition: all 0.3s ease-in;
}